<h2>Walk-through articles</h2>
<ul class="sidebar-nav" style="margin-left: 30px;">
  {% assign pages_list = site.pages %}
  {% sorted_for node in pages_list sort_by:order %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        {% if node.type == "odg" %}
          {% if page.url != node.url %}<li class="sidebar-nav-item" style="margin-top: 12px;">
            <a href="{{ node.url }}" style="color: #0e5f80; font-size: 115%; font-weight: bold;">{{ node.title }}</a><div style="line-height: 140%;">{{ node.description }}</div>
          </li>{% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endsorted_for %}
</ul>
