<div class="sidebar" {% if page.title != 'Home' %}style="background-color: #116c91;"{% endif %}>
  <div class="container" style="{% if page.title != 'Home' %}background-color: #116c91;{% endif %} direction: ltr;">
    <div class="sidebar-about">
      <a href="/"><h1>pfa</h1></a>
      <a href="/"><p>Portable Format<br>for Analytics</p></a>
    </div>

    <h2>Tutorials:</h2>
    <ul class="sidebar-nav">
      {% assign pages_list = site.pages %}
      {% sorted_for node in pages_list sort_by:order %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.type == "tutorial" %}
              <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.title }}</a>{% if page.url == node.url %} <a href="#" style="font-weight: bold; color: white; padding-left: 5px; text-decoration: none;" onclick="$('.toc').toggle('fast'); return false;">+</a><br style="margin: none; padding: none; line-height: 0px;"><div class="toc" style="text-align: left; display: inline-block; width: intrinsic;"></div>{% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endsorted_for %}
    </ul>

    <h2>References:</h2>
    <ul class="sidebar-nav">
      {% assign pages_list = site.pages %}
      {% sorted_for node in pages_list sort_by:order %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.type == "reference" %}
              <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.title }}</a>{% if page.url == node.url %} <a href="#" style="font-weight: bold; color: white; padding-left: 5px; text-decoration: none;" onclick="$('.toc').toggle('fast'); return false;">+</a><br style="margin: none; padding: none; line-height: 0px;"><div class="toc" style="text-align: left; display: inline-block; width: intrinsic;"></div>{% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endsorted_for %}
    </ul>

    <h2>Specification:</h2>
    <ul class="sidebar-nav" style="line-height: 1.1;">
      <li class="sidebar-nav-item"><a href="https://github.com/scoringengine/pfa/blob/master/doc/spec/PFA.pdf?raw=true">Version 0.1</a></li>
    </ul>

    <h2>GitHub projects:</h2>
    <ul class="sidebar-nav" style="line-height: 1.1;">

      <li class="sidebar-nav-item">scoringengine/<a href="https://github.com/scoringengine/pfa">pfa</a></li>
      <li class="sidebar-nav-item">scoringengine/<a href="https://github.com/scoringengine/pfa-gae">pfa-gae</a></li>
      <li class="sidebar-nav-item">scoringengine/<a href="https://github.com/scoringengine/pfa-docs">pfa-docs</a></li>

    </ul>

    <p style="margin-left: -20px; font-size: 12px; line-height: 120%;">&copy; {{ site.time | date: '%Y' }} Jim Pivarski. All rights reserved.</p>
  </div>
</div>
