<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="/"><h1>pfa</h1></a>
      <a href="/"><p>Portable Format<br>for Analytics</p></a>
    </div>

    <h2>Tutorials:</h2>
    <ul class="sidebar-nav">
      {% assign pages_list = site.pages %}
      {% sorted_for node in pages_list sort_by:order %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.type == "tutorial" %}
              <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.title }}</a>{% if page.url == node.url %} <span style="font-weight: bold; color: white; padding-left: 5px;" onclick="$('.toc').toggle('slow')">+</span><div class="toc"></div>{% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endsorted_for %}
    </ul>

    <h2>References:</h2>
    <ul class="sidebar-nav">
      {% assign pages_list = site.pages %}
      {% sorted_for node in pages_list sort_by:order %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.type == "reference" %}
              <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endsorted_for %}
    </ul>

    <h2>GitHub projects:</h2>
    <ul class="sidebar-nav" style="line-height: 1.1;">

      <li class="sidebar-nav-item">scoringengine/<a href="https://github.com/scoringengine/pfa">pfa</a></li>
      <li class="sidebar-nav-item">scoringengine/<a href="https://github.com/scoringengine/pfa-gae">pfa-gae</a></li>
      <li class="sidebar-nav-item">scoringengine/<a href="https://github.com/scoringengine/pfa-docs">pfa-docs</a></li>

    </ul>

    <p style="font-size: 0.8rem;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
