<table style="border: none; margin-bottom: 0px;">
  <tbody>
    <tr><td style="border: none; background: none; text-align: center;" align="center" valign="middle"><img src="{{ include.url1 }}" alt="{{ include.caption1 }}" style="margin-bottom: 2px; width: 100%;"></td><td style="border: none; background: none; text-align: center;" align="center" valign="middle"><img src="{{ include.url2 }}" alt="{{ include.caption2 }}" style="margin-bottom: 2px; width: 100%;"></td></tr>
    <tr><td style="border: none; background: none; text-align: center; font-weight: bold; line-height: 1.2;" align="center" valign="top">{{ include.caption1 }}</td><td style="border: none; text-align: center; font-weight: bold; line-height: 1.2;" align="center" valign="top">{{ include.caption2 }}</td></tr>
  </tbody>
</table>
