<table style="border: none;">
  <tbody>
    <tr><td style="border: none; background: none; text-align: center;" valign="middle"><img src="{{ include.url1 }}" alt="{{ include.caption1 }}" style="margin-bottom: 2px;"></td><td style="border: none; background: none; text-align: center;" valign="middle"><img src="{{ include.url2 }}" alt="{{ include.caption2 }}" style="margin-bottom: 2px;"></td></tr>
    <tr><td style="border: none; background: none; text-align: center; font-weight: bold; line-height: 1.2;" valign="top">{{ include.caption1 }}</td><td style="border: none; text-align: center; font-weight: bold; line-height: 1.2;" valign="top">{{ include.caption2 }}</td></tr>
  </tbody>
</table>
