<table style="border: none;">
  <tbody>
    <tr><td style="border: none; background: none; text-align: center;"><img src="{{ include.url1 }}" alt="{{ include.caption1 }}" style="margin-bottom: 0.1rem;"></td><td style="border: none; background: none; text-align: center;"><img src="{{ include.url2 }}" alt="{{ include.caption2 }}" style="margin-bottom: 0.1rem;"></td></tr>
    <tr><td style="border: none; background: none; text-align: center; font-weight: bold;">{{ include.caption1 }}</td><td style="border: none; text-align: center; font-weight: bold;">{{ include.caption2 }}</td></tr>
  </tbody>
</table>
