<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body onload="setupEngines();" class="theme-base-bluer" {% if page.title == 'Home' %}style="background-color: #116c91; background-image: url(/public/retweets.jpg); background-repeat: no-repeat; background-position: 300px 120px;"{% endif %}>
    <a name="top-of-page"></a>

    {% include sidebar.html %}

    <div class="content container" style="padding-bottom: 100px;">
      {{ content }}
    </div>
  </body>
</html>
